* {
    margin: 0;
    padding: 0;
}

.logo {
    position: fixed;
    margin-top: 5px;
    margin-left: 20px;
    width: 50px;
    border: solid 2px white;
    background-color: white;
    border-radius: 50%;

	animation: logoPulse 2s ease-out infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

body {
    background-color: black;
    background-image: url("../images/FUNDO_3.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: 100vw;
   }

   .title {
    color: rgb(46,255,88);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 35px;
    /* font-family: 'Roboto Mono', monospace; */
}

.rowTitle {
    width: 40%;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
   }

.titleWord1 {
    animation: letterJump 0.5s linear  infinite  alternate;
}

.titleWord2 {
    animation: letterJump 0.5s linear 0.1s infinite  alternate;
}

.titleWord3 {
    animation: letterJump 0.5s linear 0.2s infinite  alternate;
}

.titleWord4 {
    animation: letterJump 0.5s linear 0.3s infinite  alternate;
}

.titleWord5 {
    animation: letterJump 0.5s linear 0.4s infinite  alternate;
}

input {
    border: none;
    border-radius: 10px;
    width: 50vw;
    height: 45px;
    border: solid 1px rgb(46,255,88);
    color: rgb(46,255,88)
}

input::placeholder {
    color: #1c331f;
}


/* Serve para tirar a borda quando o campo é selecionado */
input:focus {
box-shadow: 0 0 0 0;
outline: 0;
}

.material-symbols-outlined {
  padding: 0;
  vertical-align: middle;
  font-size: 30px;
  color: rgb(46,255,88);
}

.cardBody {
    background-color: rgba(33, 58, 37, 0.8);
}

.cardGlow {
    -webkit-box-shadow:0px 0px 3px 3px rgba(46,255,88,0.9);
    -moz-box-shadow: 0px 0px 3px 3px rgba(46,255,88,0.9);
    box-shadow: 0px 0px 3px 3px rgba(46,255,88,0.9);
}

.cardGlow:hover {
    -webkit-box-shadow:0px 0px 15px 13px rgba(46,255,88,0.9);
    -moz-box-shadow: 0px 0px 15px 13px rgba(46,255,88,0.9);
    box-shadow: 0px 0px 15px 13px rgba(46,255,88,0.9);
}

.cardImage {
    width: 200px;
}

.cardText {
    vertical-align: middle;
    margin: 0 0 0 10px;
    color: gray;
}

.cardTitle {
    margin-top: 10px;
    color: rgb(46,255,88);
}

.cardInfo {
    color: black;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(46,255,88);
}

.separator {
    height: 1px;
    background-color: #AAE6A0;
    grid-column: span 2;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 2px;
  }
  
  /* Estilo para os botões de página */
  .pagination button {
    background-color: green;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .invisible {
    display: none;
  }

  .pagination div {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: green;
    font-weight: bold;
  }

.footerData {
    padding: 40px;
}

.devText {
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
}

.linkDev {
    color: white;
}

footer {
    margin-top: 20px;
    background-color: #1c331f;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    color: rgb(46,255,88);
  }

  /* -------- ANIMATIONS -------- */

  @keyframes logoPulse {
	0% {
		transform: scale(0.7);
		box-shadow: 0 0 0 0 rgba(46,255,88, 1);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(46,255,88, 0.5);
	}

	100% {
		transform: scale(0.7);
		box-shadow: 0 0 0 0 rgba(46,255,88, 0);
	}
  }

  @keyframes letterJump {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
  }